.mt-custom{
    margin-top: 6rem;
}

.content {
    max-height: calc(100vh - 100px); /* Atur tinggi maksimum sesuai dengan tinggi viewport, dikurangi 100px untuk margin atau padding */
    overflow-y: auto; /* Aktifkan scroll vertikal */
    overflow-x: hidden;
    padding: 10px; /* Opsional: tambahkan padding */
    
}